<mat-card class="card">
  <mat-card-title>Registration</mat-card-title>

  <mat-card-content>
    <form
      *ngIf="form"
      [formGroup]="form"
      autocomplete="off"
      (ngSubmit)="register()"
    >
      <ng-container
        *ngFor="let field of formFields$ | async; trackBy: trackFormField"
      >
        <ng-container *ngIf="form.controls[field.name] as control">
          <mat-form-field
            class="display-block"
            *ngIf="field.type !== 'password'"
          >
            <mat-label>{{ field.label }}</mat-label>

            <input
              matInput
              [formControlName]="field.name"
              [type]="field.type"
              [placeholder]="field.label"
            />
          </mat-form-field>

          <mat-form-field
            class="display-block"
            [class.mat-form-field-invalid]="control.touched && control.errors"
            *ngIf="field.type === 'password'"
          >
            <mat-label>{{ field.label }}</mat-label>

            <app-input-password
              [disabled]="control.disabled"
              [required]="field.required"
              [formControlName]="field.name"
            ></app-input-password>
          </mat-form-field>

          <mat-error *ngIf="control.touched && control.errors as errors">
            {{ errors | customValidationMessage: field.validations }}
          </mat-error>
        </ng-container>
      </ng-container>

      <button
        mat-raised-button
        class="float-right"
        type="submit"
        [disabled]="form.invalid || form.disabled"
      >
        Submit
      </button>
    </form>
  </mat-card-content>
</mat-card>
